body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* index styles */
.background1 {
    background-image: url("img/tit.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
}

.booba {
    position: absolute;
    justify-content: center;
    background-color: pink;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20;
    width: 45vh;
    height: 45vh;
    top: 44%;
    left: 40%
}

/* wish styles */
.background2 {
    background-image: url("img/bg2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
}

/* wish card */
.container2 {
    display: flex;
    justify-content: space-around;
    gap: 70px;
    align-items: center;
}
.tracklist {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    border-radius: 10%;
    background-color: pink;
    position: absolute;
    width: 40vh;
    height: 60vh;
    top: 20%;
    left: 5%
}

.tracklist-head {
    font-size: 20px;
}

.wish-item {
    background-color: palevioletred;
    width: auto;
    height: 30px;
}

#wishModal {
    position: relative;
    top: 200px;
    transform: (-50%,-50%);
    width: 500px;
    min-height: 500px;
    background-color: white;
    display: none;
    z-index: 11;
    flex-direction: column;
    padding-top: 20px;
    justify-content: center;
    border-radius: 10%;
    box-shadow: 0 10px 30 px rgb(0, 0, 0, 0.3);
    text-align: center;
    overflow-y: auto;
}

/* title card */
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    border-radius: 10%;
    background-color: pink;
    position: absolute;
    width: 40vh;
    height: 60vh;
    top: 20%;
    left: 75%
}

.title-text {
    font-size: 50px;
    text-align: center;
}