body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: url("asset/cursor.png"), auto;
}

/* index styles */
.background1 {
    background-image: url("asset/tit.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
}

#booba {
    position: absolute;
    justify-content: center;
    background-color: pink;
    border-radius: 50%;
    cursor: url("asset/cursor_1.png"), auto;
    font-size: 20;
    width: 55vh;
    height: 55vh;
    top: 40%;
    left: 37%;
    opacity: 0
}

/* wish styles */
.background2 {
    background-image: url("asset/bg2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
}

.container2 {
    display: flex;
    justify-content: space-around;
    gap: 70px;
    align-items: center;
}

#confetti {
    position: absolute;
    top: 50px;
    z-index: 12;
    height: 1000px;
    pointer-events: none
}
/* card */
.card {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    border-radius: 10%;
    background-color: pink;
    position: absolute;
    width: 40vh;
    height: 60vh;
    top: 20%;
    left: 5%;
    text-align: center;
}
/* tracklist card */
.tracklist-head {
    font-size: 30px;
}

.wish-item {
    background-color: palevioletred;
    width: auto;
    height: 30px;
    padding-top: 7px;
    border: none
}

.wish-item:hover {
    background-color: rgb(205, 133, 157);
    width: auto;
    height: 30px;
    padding-top: 5px;
    border: none
}

#wishModal {
    position: relative;
    top: 200px;
    transform: (-50%,-50%);
    width: 500px;
    min-height: 500px;
    background-color: white;
    display: none;
    z-index: 11;
    flex-direction: column;
    padding-top: 20px;
    padding-inline: 40px;
    justify-content: center;
    border-radius: 10%;
    box-shadow: 0 10px 30 px rgb(0, 0, 0, 0.3);
    text-align: center;
    overflow-y: auto;
}

.closeButton {
    position: absolute;
    justify-content: center;
    background-color: palevioletred;
    width: auto;
    height: 30px;
    padding: 7px;
    left: 46%;
    bottom: 20px;
    z-index: 13
}

#overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 10;
    transition: 1s;
}

/* title card */
.title-text {
    font-size: 50px;
    text-align: center;
}